@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&family=Lobster&family=Oswald:wght@500&family=Secular+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    background-image: url("../img/sea-gb72f0a450_1920.jpg");
    background-size:auto;
    background-repeat: no-repeat;
}
.font-Fjalla {
    font-family: 'Fjalla One', sans-serif;
}

.container {
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
}